body, html,* {
    background: #368;
    font-family: verdana, arial, sans, sans-serif;
    font-size:  14pt;
    box-sizing: border-box;
}
#dropImageZone {
    border: 2px dashed #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 35px 25px;
    text-align: center;
    color: #fff;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

#stage {
    position:relative;
    background-repeat: no-repeat;
    margin: 38px auto;
    border-radius: 16px;
}

.tile {
    position:absolute;
    border: 2px solid #888;
    border-bottom-color: #666;
    border-right-color: #666;

    border-radius: 16px;
}

.modalLayer {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding:60px 80px;
    display:none;
    background: rgba(23,23,23,0.7);
    z-index:10000;
}
.innerModal {
    position:relative;
    margin: 0 auto;
    width: 96%;
    max-width: 600px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 12px 24px;
    z-index: 120;
    display:none;
}

.innerModal .selectOption {
    margin: 20px auto;
    width:100%;
    text-align: center;
}

.innerModal button, input {
    border: 1px solid #fff;
    display: block;
    padding: 16px 12px;
    cursor: pointer;
    width: 100%;
    color: white;
    border-radius: 5px;
    margin: 20px auto;
}

input::placeholder {
    color: #a1c3d5;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #fff;
    display: inline-block;
    padding: 16px 12px;
    cursor: pointer;

    color: white;
    border-radius: 5px;
}

.nav-icon {
    position:relative;
    display:inline-block;
    margin: 6px;
    width: 40px;
    cursor: pointer;
}

.rightAligned {
    margin-left:auto; margin-right:0;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    /*transition: all .2s ease-in-out;*/
}

.cancel-icon:before {
    transform: translateY(12px) rotate(135deg);
}
.cancel-icon:after{
    transform: translateY(-12px) rotate(-135deg);
}
.cancel-icon div {
    margin: 6px 2px;
    transform: scale(0);
}
