body, html,* {
    font-family: verdana, arial, sans, sans-serif;
    font-size: 14pt;
    box-sizing: border-box;
    color: white;
}
h1 {
    font-size: 16pt;
}
div.logoImage {
    text-align:right;
    padding:2px 22px;
}
body {
    background: #336688;
}

div#welcome .clickMe {
    cursor: pointer;
    text-decoration: underline;
}

div#welcome ul > li {
   padding: 6px 0;
}

div.hiddenDiv {
    display: none;
}
#dropImageZone {
    border: 2px dashed #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 35px 25px;
    text-align: center;
    color: #fff;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

#outerStage {
    position:relative;
    /*margin: 38px auto;*/
    display:inline-block;
}

#stage {
    position:relative;
    background-repeat: no-repeat;
    border-radius: 16px;
}

#stage.withNumbers {
    left: 24px;
}

.board-letter {
    position: absolute;
    color: white;
    text-align: center;
    height:24px;
    bottom: 0;
    padding:4px;
}

.board-num {
    position: absolute;
    color: white;
    width:24px;
    left: 0;
    padding:4px;
}

.board-num > div {
    position: absolute;
    border: 2px solid rgba(255,255,255,0.35);
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:26px;
    max-height:26px;
    text-align: center;
    left: -10px;
    border-radius: 6px;
}

.board-letter > .iLegend {
    /*!*display: block;*!*/
    position: absolute;
    text-align: center;
    width:26px;
    max-height:26px;
    top: 21px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid rgba(255,255,255,0.35);
    border-radius: 6px;
}


.tile {
    position:absolute;
    border: 2px solid #888f98;
    border-bottom-color: #666e73;
    border-right-color: #666e73;
    border-radius: 16px;
}

.tile-ident {
    position:absolute;
    display: inline-block;
    background: radial-gradient(rgba(34,85,119,1),rgba(34,85,119,0.8), rgba(51,102,136,0.5));
    /*background: black;*/
    color:white;
    bottom: 2px;
    right: 2px;
    font-size:10pt;
    width: 24px;
    height: 24px;
    padding: 3px 0;
    text-align: center;
    border: 2px solid rgba(255,255,255,0.6);
    border-radius: 6px 6px 12px 6px;
}

.transitionable {
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.modalLayer {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding:60px 80px;
    display:none;
    /*background: rgba(23,23,23,0.7);*/
    z-index:10001;
}

.modalBG, .alertBG{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display:none;
    background: rgba(23,23,23,0.7);
    z-index:10000;
}

.alertModalLayer {
    z-index:10004;
}
.alertBG{
    z-index:10003;
}

.innerModal {
    position:relative;
    margin: 0 auto;
    width: 96%;
    max-width: 600px;
    border: 1px solid white;
    background: #336688;
    border-radius: 5px;
    padding: 12px 24px;
    z-index: 120;
    display:none;
    color: white;
}

.innerModal * {
    background: #336688;
}

.commonAlertModal {
    width: 86%;
    max-width: 400px;
    top: 80px;

}

.commonAlertModal #commonMessage {
    text-align: center;
    margin: 12px 0 12px 0;
    color: white;
}

.innerModal .selectOption {
    margin: 20px auto;
    width:100%;
    text-align: center;
}

.innerModal button, input {
    border: 1px solid rgba(255,255,255, 0.6);
    display: block;
    padding: 16px 12px;
    cursor: pointer;
    width: 100%;
    color: white;
    border-radius: 5px;
    margin: 20px auto;
}

input::placeholder {
    color: #a1c3d5;
}

/*input.wrongInput, .commonAlertModal {*/
/*    border-color: #c00;*/
/*}*/

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #fff;
    display: inline-block;
    padding: 16px 12px;
    cursor: pointer;

    color: white;
    border-radius: 5px;
}

.nav-icon {
    position:relative;
    display:inline-block;
    left: 6px;
    margin: 6px;
    width: 40px;
    cursor: pointer;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    /*transition: all .2s ease-in-out;*/
}

.cancel-icon:before {
    transform: translateY(12px) rotate(135deg);
}
.cancel-icon:after{
    transform: translateY(-12px) rotate(-135deg);
}
.cancel-icon div {
    margin: 6px 2px;
    transform: scale(0);
}

.innerModal > .header {
    display: table;
    width: 100%;
}

.innerModal > .header > div {
    display: table-row;
}

.innerModal > .header > div > div{
    display: table-cell;
}

.innerModal > .header > div > .menu-category {
    background-position: 0 center !important;
    vertical-align: middle;
    font-weight:bold;
    padding-left:50px;
    opacity:0.7;
}

.innerModal > .header > div > .close {
    text-align:right;
}

.textModalText {
    margin-top: 12px;
}